#article-content {

}

.link-button {
  background: none;
  border: none;
  color: #999da0;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  padding: 8px 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.link-button:focus {
  outline: none;
}
.link-button:hover {
  color:#b9bec2;
}

.row + .row {
	border-top: 0;
}

div.row {
	border-bottom:1px rgb(229, 229, 229) solid;
}

body {

}